/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: 4em;
  color: rgb(56, 91, 206);
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  color: rgb(150, 179, 212);
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* elements with class="sjstable" and all their child elments */
.sjstable > * {
  border: 2em solid red;
  background-color: rgb(178, 217, 235);
  color: black;
}

/* <th> elements inside class sjstable */
/* .sjstable > th {
  font-weight: bold;
  border: 1em solid blue;
  color: navy;
} */
/* <td> elements inside class sjstable */
/* .sjstable > td {
  border: 1em solid blue;
} */



